In [1]:
!pip install sqlalchemy==1.3.9
!pip install ipython-sql prettytable pandas -q

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 7.3 MB/s eta 0:00:00ta 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (pyproject.toml) ... done
  Created wheel for sqlalchemy: filename=sqlalchemy-1.3.9-cp313-cp313-macosx_10_13_universal2.whl size=1167365 sha256=a625c17e4e20df3def256a226971043ee0f13e8e756d9a726460203a4172ef1c
  Stored in directory: /Users/juanpardo/Library/Caches/pip/wheels/7f/0c/92/6ec5ca28eb22ed22341110143de753ec622045fbfc750edb26
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.9

In [2]:
%load_ext sql

In [3]:
import sqlite3
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
import pandas as pd
import requests
from io import StringIO

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv"

# Descargar el archivo sin verificación SSL
response = requests.get(url, verify=False)
df = pd.read_csv(StringIO(response.text))

# Guardar en la base de datos SQLite
import sqlite3
con = sqlite3.connect("my_data1.db")
df.to_sql("SPACEXTBL", con, if_exists="replace", index=False, method="multi")

/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/urllib3/connectionpool.py:1097: InsecureRequestWarning: Unverified HTTPS request is being made to host 'cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

101

In [6]:
%sql SELECT * FROM SPACEXTBL LIMIT 5;

Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
        connect_str,
    ...<2 lines>...
        creator=args.creator,
    )
  File "/Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
        "Environment variable $DATABASE_URL not set, and no connect string given."
    )
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [9]:
import sqlite3

# Conectar a la base de datos
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Ejecutar consulta
query = "SELECT * FROM SPACEXTBL LIMIT 5"
for row in cur.execute(query):
    print(row)

# Cerrar conexión
con.close()

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

In [11]:
import sqlite3

# Conectar a la base de datos
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Ejecutar consulta SQL
query = "SELECT DISTINCT Launch_Site FROM SPACEXTBL;"
cur.execute(query)

# Obtener resultados
results = cur.fetchall()

# Imprimir los resultados
for row in results:
    print(row)

# Cerrar conexión
con.close()

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)

In [12]:
#show 5 records where the launch site start with "CCA"
import sqlite3

# Conectar a la base de datos
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Consulta SQL
query = "SELECT * FROM SPACEXTBL WHERE Launch_Site LIKE 'CCA%' LIMIT 5;"
cur.execute(query)

# Obtener e imprimir resultados
results = cur.fetchall()
for row in results:
    print(row)

# Cerrar conexión
con.close()

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

In [17]:
#List all the column names
import sqlite3

# Conectar a la base de datos
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Obtener nombres de las columnas de la tabla SPACEXTBL
query = "PRAGMA table_info(SPACEXTBL);"
cur.execute(query)

# Imprimir los nombres de las columnas
columns = cur.fetchall()
for column in columns:
    print(column)

# Cerrar conexión
con.close()

(0, 'Date', 'TEXT', 0, None, 0)
(1, 'Time (UTC)', 'TEXT', 0, None, 0)
(2, 'Booster_Version', 'TEXT', 0, None, 0)
(3, 'Launch_Site', 'TEXT', 0, None, 0)
(4, 'Payload', 'TEXT', 0, None, 0)
(5, 'PAYLOAD_MASS__KG_', 'INTEGER', 0, None, 0)
(6, 'Orbit', 'TEXT', 0, None, 0)
(7, 'Customer', 'TEXT', 0, None, 0)
(8, 'Mission_Outcome', 'TEXT', 0, None, 0)
(9, 'Landing_Outcome', 'TEXT', 0, None, 0)

In [18]:
#Show the total sum of mass load useful transported by boosers launched by NASA (CSR)
import sqlite3

# Conectar a la base de datos
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Consulta SQL corregida
query = "SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE Customer = 'NASA (CRS)';"
cur.execute(query)

# Obtener e imprimir el resultado
result = cur.fetchone()
print("Total Payload Mass carried by NASA (CRS):", result[0])

# Cerrar conexión
con.close()

Total Payload Mass carried by NASA (CRS): 45596

In [22]:
#Show the average of the load mass useful transported by boosters version F9

# Conectar a la base de datos
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Consulta SQL
query = "SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE Customer = 'NASA (CRS)';"
cur.execute(query)

# Obtener e imprimir resultado
result = cur.fetchone()
print("Average Payload Mass for F9 v1.1:", result[0])

# Cerrar conexión
con.close()

Average Payload Mass for F9 v1.1: 45596

In [21]:
#List the date of the first landing of the successfull launch in Ground Pad
# Conectar a la base de datos
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Consulta SQL
query = "SELECT MIN(Date) FROM SPACEXTBL WHERE Landing_Outcome = 'Success (ground pad)';"
cur.execute(query)

# Obtener e imprimir resultado
result = cur.fetchone()
print("First successful landing on ground pad:", result[0])

# Cerrar conexión
con.close()

First successful landing on ground pad: 2015-12-22

In [23]:
#List the names of the booster that had succeeded in drone ship and have payload mass greater than 4000 but no lower than 6000
# Conectar a la base de datos
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Consulta SQL
query = """
SELECT Booster_Version FROM SPACEXTBL
WHERE Landing_Outcome = 'Success (drone ship)'
AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000;
"""

cur.execute(query)

# Obtener e imprimir resultados
results = cur.fetchall()
for row in results:
    print(row[0])

# Cerrar conexión
con.close()

F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2